html {
  font-size: 62.5%; /* 10px = 1rem*/
}
* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../../../public/assets/garkalni-gallery/bg1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  grid-template-rows: 4vh 12vh 84vh;
  overflow: hidden;
}

.announcement-bar {
  max-width: 100%;
  height: 4vh;
  position: relative;
  background: #31572c;
  color: white;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.announcement-bar__item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  align-content: center;
  margin-right: 10rem;
}
.announcement-bar__item p {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcement-bar__item__circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ffffff;
}

.nav-bar {
  position: relative;
  max-width: 100%;
  height: 100%;
}
.item-title {
  font-size: 6.5rem;
}

.item-title.active {
  /* color: #31572c; */
  color: white;
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.wrapper::after {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #171717cf;
  z-index: 3;
}

.main-content {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-title {
  position: relative;
  z-index: 12;
  line-height: 7rem;
  color: white;
  font-size: 6.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-section {
  position: relative;
  max-width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 999;
  align-items: center;
  /* left: 40px;
    top: 350px; */
}

.arrows-section {
  position: relative;
  width: 75%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.arrow-icon {
  padding: 2rem;
  font-size: 6rem;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-left: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.arrow-icon:hover {
  background: #31572c;
  color: white;
  transition: all 0.2s ease-in-out;
  border: none;
}
.arrow-icon-location {
  padding: 2rem;
  font-size: 6rem;
  border-radius: 50%;
  background: #31572c;

  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-left: 1rem;
}
.line {
  margin-left: 2rem;
  width: 60%;
  height: 0.5px;
  background: #171717;
}
.line-one {
  margin-left: 2rem;
  width: 60%;
  height: 0.5px;
  background: #ffffff;
}
.arrows-section p {
  font-size: 3rem;
  color: white;
  margin-left: 2rem;
}

.btn-section {
  margin-bottom: 2rem;
}

.btn-section .button {
  position: relative;
  padding: 1.5rem 4rem;
  outline: none;
  font-size: 1.1rem;
  border-radius: 15rem;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: none;
  transition: all 0.2s ease-in-out;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

.button span {
  z-index: 5;
  position: relative;
  transition: color 350ms ease;
}

.button:hover {
  /* border: .1px solid #31572c; */
  transition: all 0.2s ease-in-out;
  font-size: 1.2rem;
}
.button:hover span {
  color: white;
}

.button::after,
.button::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background: #31572c;
  z-index: -1;
  border: none;
}

.button::before {
  transform: translateX(-100%);
  z-index: 1;
}

.button:hover:before {
  transform: translateX(0);
  transition: transform 350ms ease;
}

.button::after {
  z-index: 0;
  transform: translateX(100%);
  transition: none;
  transition: transform 350ms ease;
}

.button:hover:after {
  opacity: 1;
  transform: translateX(0);
  transition: transform 350ms 360ms ease;
}

.item {
  position: relative;
  /* Other styling */
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* HomePage.css */
.expanded-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
}

.expanded-content {
  max-width: 80%;
  text-align: center;
}
.expanded-content p {
  font-size: 1.4rem;
}

.left-content-grid {
  position: relative;
  width: 60%;
  height: 50%;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-content-grid .btn-section{
  position: relative;
  bottom: 40px;
}
.changed-layout {
  position: relative;
  max-width: 100%;
  height: 50%;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 8rem;
  padding: 1.5rem 0;
}

.main-content p {
  height: 100%;
  width: 50%;
  line-height: 2rem;
  /* position: absolute; */
  z-index: 12;
  /* top: 290px; */
  color: rgb(231, 231, 231);
  font-size: 1.3rem;
  /* left: 50px; */
  font-weight: lighter;
  font-family: "Inter", sans-serif;
  text-align: center;
}

/* BELLOW 1145px / 71.5625 (lapptop screen)*/

@media (max-width: 71.5625em) {
  .left-content-grid {
    position: relative;
    max-width: 100%;
    height: 50%;
    display: grid;
    grid-template-rows: 1fr auto 10rem;
  }
  .left-content-grid .item-title {
    font-size: 6rem;
  }
  .carousel {
    position: absolute;
    bottom: 9rem;
    /* right: 250px; */
    max-width: 70%;
    max-height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }
  .arrows-section {
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  .arrow-icon {
    padding: 1.5rem;
    font-size: 5rem;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-left: 1rem;
    color: white;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .line-one {
    margin-left: 2rem;
    width: 55%;
    height: 0.5px;
    background: #ffffff;
  }
}

/* BELLOW 1061px / 66.3125em) (Landscape tablet)*/

@media (max-width: 66.3125em) {
  .left-content-grid .item-title {
    font-size: 5.2rem;
    font-weight: bolder;
    line-height: 65px;
  }
  .line-one {
    margin-left: 2rem;
    width: 45%;
    height: 0.5px;
    background: #ffffff;
  }
}

/* BELLOW 979px / 66.1875em) (Tablet)*/

@media (max-width: 66.1875em) {
  .inner-carousel {
    position: relative;
    max-width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
  }
}

/* BELLOW 941px / 58.8125em (Smaller Tablet)*/
@media (max-width: 58.8125em) {
  .main-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center;
    z-index: 12;
  }

  .left-content {
    all: unset;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-content-grid {
    all: unset;
    position: relative;
    max-width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
  }
  .right-content {
    display: none;
  }

  .left-content-grid .item-title {
    max-width: 100%;
    position: relative;
    z-index: 12;
    line-height: 6rem;
    color: white;
    font-size: 4.5rem;
  }
  .btn-section {
    margin-top: none;
  }
  .left-content-grid p {
    height: 100%;
    width: 70%;
    line-height: 2.5rem;
    margin-top: 1rem;
    /* position: absolute; */
    margin-bottom: 1rem;
    z-index: 12;
    /* top: 290px; */
    color: rgb(231, 231, 231);
    font-size: 1.3rem;
    /* left: 50px; */
    font-weight: lighter;
    font-family: "Inter", sans-serif;
  }

  .btn-section .button {
    position: relative;
    padding: 1.5rem 4rem;
    outline: none;
    font-size: 1.1rem;
    border-radius: 15rem;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: none;
    transition: all 0.2s ease-in-out;
    color: white;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.mouse{
  z-index: 999;
  color: rgba(242, 242, 242, 0.778);
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 49%;
}