.nav-bar-display {
    position: fixed;
    width: 100%;
    height: 100lvh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 99998;
    padding: 10px;
  }
  
  .slide-in-nav {
    position: relative;
    width: 400px; /* Set your desired max width */
    height: 100%;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px;
    background: #31572c;
    z-index: 99999;
    display: grid;
    grid-template-rows: 100px 3fr 100px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box; /* Include padding in the width calculation */
  }

  .close-nav-bar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
  .close-nav-bar .close-nav-button{
    padding: 15px;
    font-size: 4.4rem;
    font-weight: 100;
    color: whitesmoke;
    border-radius: 50%;
    border: .5px solid #1f381c;

  }
.side-menu_icon-section h1{
  padding: 0 15px;
  margin-left: 2rem;
  border-left: .1px solid white;
  font-size: 1.7rem;
  font-weight: bolder;
}
.side-menu_icon-section a{
 color: whitesmoke;
}
  .nav-bar-display nav{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border-bottom: .1px solid #1f381c;

  }

  
  .nav-bar-display nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;

  } 
  .nav-bar-display nav ul li{
    width: 100%;
    height: 100%;
    margin-top: 10px;
   position: relative;
  }
  .nav-bar-display nav ul a{
 
    position: relative;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.6rem;
  }

  .nav-bar-display nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust as needed */
    width: 0;
    height: 1px; /* Adjust as needed */
    background-color: white;
    transition: width 0.3s ease; /* Add a smooth transition */
    margin-top: 10px;
  }
  
  .nav-bar-display nav ul li:hover a::after {
    width: 100%;
  }

  @keyframes underline {
    from {
      width: 0;
    }
    to {
      width: 100%;

    }
  }
  .side-menu_icon-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
 
  .side-menu_social_icon{
    font-size: 2.5rem;
    margin-left: 1rem;
  }
 
  .side-menu_icon-section .side-menu_social_icon:first-child{
    margin-left: 10px;
  }
/* .nav-background-overlay{
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(4px);
} */

    /*RESPONSINESS-------------*/

    @media (max-width: 568px) {
   
  
      .nav-bar-display {
        position: fixed;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99998;
        margin: 0;
      }
      
      .slide-in-nav {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: #31572c;
        z-index: 99999;
        display: grid;
        grid-template-rows: 100px 3fr 100px;
        color: white;
      }
    }
  
  
      /*RESPONSINESS-------------*/